<!-- layout.nunjucks -->

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
        <link rel="stylesheet" href="style.css"/>
        <script src="scripts/header.js"></script>
    </head>
    <body>
        {% include "header.njk" %}
        {% block content %}{% endblock %}
    </body>
</html>