// Screen breaks

$screen-xs: 500px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1230px;
$screen-xl: 1460px;

// standards

$headerHeight: 80px;
$standardInset: 10px;

// Primary pallette

$p1: #1F1F1F;
$p2:#94105A;
$p3:#FA198B; 
$p4:#F4F4F4;
$p5: #ffffff;

// Secondary pallette

// Hightlight
$h-cherryPink:#D20069;

// Element colours
$cHeading: $p1;
$cText: rgb(140,140,140);
$cBold: rgb(120,120,120);

$cLine: rgb(220,220,220);


// $grey: rgb(100, 100, 100);
// $grey-1: rgb(140,140,140);
// $grey-2: #b4b4b4;

//$burntOrange: #DD6F00;




