<!-- index.njk -->
{% extends "layout.njk" %}

{% block content %}
  <section class="recipe-showcase-background">
    <div class="centred">
      <div class="showcase">
        <div class="showcase__main-feature">
          <div class="feature">
            <img src="https://kelliesfoodtoglow.com/wp-content/uploads/2013/01/dsc_0040.jpg"/>
            <div class="title">
              Chicken Kiev - 1345 kcal pp
            </div>
          </div>
        </div>
        <div class="showcase__secondary-features">
          <div class="feature">
            <img src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/zfhgty0ampdmye4r1gdl"/>
          </div>
          <div class="feature">
            <img src="https://images2.minutemediacdn.com/image/upload/c_fill,g_auto,h_1248,w_2220/v1555433443/shape/mentalfloss/beef_stroganoff_0.jpg?itok=PTPv7X2n"/>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}