<!-- layout.nunjucks -->
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css"/>
    </head>
    <body>
        {# <Header>
            <div class="centred header-content">
                <div class="header-content__title">
                    harrifood.com
                </div>
                <nav>
                    <ul>
                        <li>
                            <a class="selected" href="#">About</a>
                        </li>
                        <li>
                            <a href="#">Recipes</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </Header>
        {% block content %}{% endblock %} #}
    </body>
</html>